*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Balsamiq Sans', cursive;
}
.hero{
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #000;
    background-image: url("1.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position:  center;
    background-size: 100% 100%;
  
}
.hero-heading{
    font-size: 3.25rem;
    font-weight: bold;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    color:blue;
}
.slides{
    background-color: black;
}
.test{
    color: cornsilk;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.name{
    font-weight: bold;
    font-style: italic;
    font-family: cursive;
}
h1{
    font-style: oblique;
    color: crimson;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2,h3{
    color:blue;
    font-family: serif;
}
span{
    color:red;
    font-weight: bold;
    font-size: 1.5em;
}
.btn:hover{
    background-color:rgb(141, 211, 141);

}
.navbar-brand{
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: red;
}
.bot{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
.cont{
    font-weight: bold;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}
/* .cont:hover{
    background-color: rgb(250, 243, 179);
} */
.old{
    height: 450px;
    margin-top: 50px;
}
.sk{
    background-color: lightblue;
}
.team{
    text-align: center;
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.card-body{
    background-color: black;
}
.ctct{
    background-color: lightblue;
}
.card-title{
    font-weight: bold;
    color: red;
}
.head{
    text-align: center;
    font-weight: bolder;
    color: black;
}
.card-text{
    
    color: mediumturquoise;
}